<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7WtU2mmIOMm7T3wC2P4crRKpkdY7P0o8</string>
	<key>GCM_SENDER_ID</key>
	<string>764475060735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineshop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>linnonlineshop</string>
	<key>STORAGE_BUCKET</key>
	<string>linnonlineshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764475060735:ios:15d2ca57b0c10d908877ca</string>
</dict>
</plist>